.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.codedBy {
  text-align: center;
  font-weight: bold;
}

.spanNihil a:hover {
  color: var(--amarelopika);
  text-shadow: 1px 1px 3px var(--pretin);
  font-weight: 600;
  font-size: 1.25rem;
}
