.background_wrap {
  bottom: 0;
  left: 0;
  height: 100vh;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  animation: animateCloud 30s linear infinite;
  display: block;
  transform: scale(0.6);
  margin-bottom: 50px;
}

.x2 {
  animation: animateCloud 25s linear infinite;
  display: block;
  transform: scale(0.5);
  margin-bottom: 150px;
}

.x3 {
  animation: animateCloud 20s linear infinite;
  display: block;
  transform: scale(0.4);
  margin-bottom: 250px;
}

.x4 {
  animation: animateCloud 35s linear infinite;
  display: block;
  transform: scale(0.3);
  margin-bottom: 350px;
}

.x5 {
  animation: animateCloud 40s linear infinite;
  display: block;
  transform: scale(0.7);
  margin-bottom: 450px;
}

/* OBJECTS */

.cloud {
  background: linear-gradient(to top, #fff, #f1f1f1);
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: absolute;
  width: 350px;
}

.cloud::before,
.cloud::after {
  background: inherit;
  border-radius: inherit;
  content: "";
  position: absolute;
}
.cloud::before {
  height: 100%;
  width: 100%;
  left: -50px;
  top: -50px;
}

.cloud::after {
  height: 80%;
  width: 80%;
  left: -40px;
  top: -40px;
}
