.footerBox {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--pretin);
}

.footerText {
  color: var(--brancoleve);
}

.footerSpan {
  font-weight: 700;
  color: var(--brancoleve);
}
