@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
:root {
  --vermelho: #d6232f;
  --pretin: #000000d3;
  --cinza: rgb(174, 174, 174);
  --pretotrevas: black;
  --brancoleve: #ffffffd7;
  --brancofull: white;
  --azulzin: #078bc0;
  --azulzinleve: #79caf9;
  --amarelopika: #efe206;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: 400 16px "Rubik", sans-serif;
  color: var(--pretin);
  transition: 0.2s;
}

/* .backgroundImage {
  position: fixed;
  z-index: -10;
  height: 125vh;
  width: 100vw;
  top: 0;
  transition: none;
} */

body {
  flex-direction: column;
  transition: none;
  background-color: var(--azulzinleve);
}

.mainContainer {
  margin-top: 0.93rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

button {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  .mainContainer {
    margin-top: 150px;
  }
}
