.homeContent {
  margin-top: 1.25rem;
  max-width: 65.625rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTitleBox {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 5rem;
}

.homeTitle {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Sofia Sans", sans-serif;
}

.mainPokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 41.563rem;
  gap: 3.125rem;
}

.loadMorePokemons {
  background-color: white;
  padding: 0.625rem 1.125rem;
  margin: 1.25rem 0rem;
  border-radius: 8px;
  font-weight: bold;
  width: 14rem;
}

.scrollToTop {
  background-color: white;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Sofia Sans", sans-serif;
  margin-bottom: 1rem;
}

.scrollToTop:hover {
  padding: 0.5rem 1rem;
}

.loadMorePokemons:disabled {
  cursor: not-allowed;
}
.loadMorePokemons:hover {
  color: var(--brancoleve);
  background-color: var(--pretin);
}

@media screen and (max-width: 1250px) {
  .homeContent {
    padding: 0px 5.31rem;
  }
}

@media screen and (max-width: 810px) {
  .home_title_box {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 630px) {
  .home_title_box {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }

  .home_content {
    padding: 0rem 5.625rem;
  }
}
