.headerImage {
  position: fixed;
  height: 8.75rem;
  z-index: 1;
  top: 0.188rem;
  left: 0.188rem;
}

.buttonsBox {
  display: flex;
  gap: 2rem;
  position: fixed;
  z-index: 1;
  left: 11.65rem;
  top: 6.1rem;
}

.button {
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  color: var(--brancoleve);
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
}

.button:hover {
  color: var(--pretin);
  background-color: var(--azulzin);
}

@media screen and (max-width: 826px) {
  .headerImage {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .buttonsBox {
    position: absolute;
    left: 60%;
    top: 18%;
    transform: translate(-50%, -0%);
  }
}
