.details_box {
  margin-top: 50px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.832);
  border-radius: 30px 0px;
}

.image_box {
  margin-right: auto;
  margin-left: auto;
}
.text_detail_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.poke_name {
  font-size: 1.2rem;
  color: var(--brancoleve);
  font-weight: 700;
  text-transform: capitalize;
}

.poke_type {
  color: var(--brancoleve);
  text-transform: capitalize;
  gap: 5px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.poke_stats {
  color: var(--brancoleve);
}

.type {
  border-radius: 3px;
  padding: 3px;
}
.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_Eletric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}

@media screen and (max-width: 1250px) {
  .details_box {
    background-image: linear-gradient(90deg, var(--pretin), var(--brancoleve));
    margin-top: -115px;
    margin-bottom: 10px;
    flex-direction: column;
    width: 290px;
  }
}
