.detailsBox {
  margin-top: 5.5rem;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  min-width: 50rem;
  height: 21rem;
  border-radius: 25px;
  background-color: var(--brancofull);
}

.content {
  display: flex;
  height: 18rem;
  flex: 1;
  border: 18px solid var(--cinza);
  border-radius: 16px;
}

.imageBox,
.infosBox {
  flex: 1;
}

.imageBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--pretin);
}
.pokemon_image {
  height: 13rem;
}

.infosBox {
  padding-right: 0.5rem;
  background-color: var(--pretin);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0rem 1rem;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". .";
}

.textDetailBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.pokeName {
  text-transform: capitalize;
  font-family: "Press Start 2P", cursive;
  color: var(--brancoleve);
  margin-bottom: -1rem;
  margin-top: 1rem;
}

.pokeType {
  color: var(--brancoleve);
  text-transform: capitalize;
  gap: 5px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokeStats {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 5px;
  font-size: 16px;
}

.pokeStats > p {
  color: var(--brancoleve);
  text-transform: uppercase;
  font-weight: bold;
}
.pokeStats > span {
  color: var(--pretin);
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.type {
  border-radius: 3px;
  padding: 3px;
  text-transform: capitalize;
}
.typenormal {
  background-color: #aa9;
}

.typefire {
  background-color: #f42;
}

.typewater {
  background-color: #39f;
}

.typeelectric {
  background-color: #fc3;
}

.typegrass {
  background-color: #7c5;
}

.typeice {
  background-color: #6cf;
}

.typelighting {
  background-color: #b54;
}

.typepoison {
  background-color: #a59;
}

.typeground {
  background-color: #db5;
}

.typeflying {
  background-color: #89f;
}

.typepsychic {
  background-color: #f59;
}

.typebug {
  background-color: #ab2;
}

.typerock {
  background-color: #ba6;
}

.typeghost {
  background-color: #66b;
}

.typedragon {
  background-color: #76e;
}

.typedark {
  background-color: #754;
}

.typesteel {
  background-color: #aab;
}

.typefairy {
  background-color: #e9e;
}

@media screen and (max-width: 1150px) {
  .detailsBox {
    margin-top: -5.5rem;
  }
}

@media screen and (max-width: 827px) {
  .detailsBox {
    margin-top: -5.5rem;
    flex-direction: column;
    max-width: 18rem;
    min-width: 30rem;
    height: 26rem;
    padding: 1rem 2rem;
  }

  .content {
    flex-direction: column;
  }

  .infosBox {
    padding: 0rem 1.4rem;
    gap: 0.3rem 1rem;
  }
}

@media screen and (max-width: 550px) {
  .detailsBox {
    max-width: 18rem;
    min-width: 28rem;
    height: 26rem;
  }

  .content {
    width: 26rem;
    flex-direction: column;
    border: 10px solid var(--cinza);
  }

  .infosBox {
    padding: 0rem 1rem;
  }
}
