.pokemonCard {
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--brancoleve);
  margin-bottom: 1.25rem;
  list-style: none;
  border-radius: 10px;
  min-height: 14.375rem;
  width: 11.25rem;
  cursor: pointer;
}

.pokemonCard:hover {
  background-color: var(--brancofull);
}

.pokemonNameBox {
  margin-top: 0.313rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.313rem;
}

.pokemonNameBox h3 {
  text-transform: capitalize;
  font-weight: 600;
}

.pokemonCard:hover h3 {
  color: var(--azulzin);
}

.pokemonCard:hover p {
  color: var(--azulzin);
}
